html {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #282A35;
}

body {
    margin: 0; 
    padding: 0;
}

#Learn {
    background-color: #282A35;
    text-align: center; 
    font-family: "Source Sans Pro", sans-serif;
    
}

#Learn h1 {
    color: white; 
    padding-top: 1.3em;
    font-weight: bold;
    font-size: 5em; 
    letter-spacing: -3px;
}

#Learn h3 {
    color: rgb(244, 244, 157);
    font-size: 1.6em;
}

#Learn img {
    margin-left: auto; 
    margin-right: auto;
    padding-bottom: 2em; 
    padding-left: em;
    padding-top: 2em; 
}

#Learn a:link {
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
    
    
}

#Learn a:hover {
    color:  rgb(244, 244, 157);
}

#HTML {
    background-color: #D9EEE1;
    text-align: center;
}

#HTML h1 {
    font-size: 4em;

}

#HTML h3 {
   margin-top: 0.9em;
}

.btn {
    font-family: "Source Sans Pro", sans-serif; 
    display: block;
    padding: 12px 20px;
    text-align: center;
    font-weight: bolder; 
    width: 150px;
    border-radius: 20px;
    text-decoration: none; 
    margin-bottom: 1.5em;
    flex-direction: column;
    
}

.html-btn {
    background-color: rgb(86, 192, 109);
    color: white;
}
.html-btn:hover { background-color: rgb(74, 168, 94) ;}

.video-btn {
    background-color: rgb(244, 244, 157); 
    color: black;
}
.video-btn:hover {background-color: rgb(231, 231, 123)}

.ref-btn {
    background-color: #282A35;
    color: white; 
}
.ref-btn:hover { background-color: black; }

.cert-btn {
    background-color: pink; 
    color: black; 
}
.cert-btn:hover {  background-color: rgb(255, 174, 188); }

#HTML {
    display: flex; 
    align-items: flex-start; 
    justify-content: space-between;
    padding: 2em;
}

#column-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers h1, h3, and buttons */
}

#column-2 {
    flex: 1; 
    display: flex; 
    justify-content:  center; 
    align-items: center; 
}

#HTML img {
    width: 400px; 
    height: auto; 
}





